<form class="form-inline"
                        action="http://localhost:8035/polua/form"
                        method="post">
                            <div class="form-group mx-sm-3 mb-2">
                              <label for="inputtext2" class="sr-only">Text</label>
                              <input type="text" class="form-control" id="inputtext2" placeholder="text">
                            </div>
                            <button type="submit" class="btn btn-primary mb-2">text</button>
                        </form>